html,
body {
    background-color: #f9f9ff;
    font-family: calibri, sans-serif;
}

#container {
    width: 960px;
    height: 595px;
    margin: 20px auto;
}

.box {
    width: 280px;
    height: 320px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    display: inline-block;
    overflow: hidden;
    margin: 5px 10px;
    position: relative;
    transition: 0.1s;
}

.box img {
    margin: 10px 0 0 0;
    height: 190px;
    width: 100%;
}

.box button {
    width: 100px;
    height: 50px;
    background: #2196f3;
    color: #ffffff;
    text-align: center;
    line-height: 27px;
    font-size: 1em;
    position: absolute;
    right: 20px;
    top: 255px;
    box-shadow: 0 0 40px 20px rgba(80, 80, 80, 0.1);
    border: 0;
    outline: none;
    cursor: pointer;
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.box button:hover {
    background: #2999ff;
}

.box button:active {
    background: #1166f9;
}

.box button:after {
    content: 'Добавить';
    position: absolute;
    right: 0px;
    top: 0;
    padding: 10px 10px 10px 10px;
    font-weight: 600;
}

.box h3 {
    margin-left: 20px;
    margin-bottom: 5px;
}

.box p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    color: #999;
}

#cart {
    margin-top: 50px;
    overflow: hidden;
}

.cart-info {
    width: 100%;
    height: 40px;
    display: block;
}

.cart-info h3 {
    display: inline-block;
    line-height: 40px;
    margin: 0;
}

.totalprice {
    float: left;
    width: 80px;
    line-height: 100px;
    margin-left: 10px;
    text-align: right;
}